
  <div class="widget-wrap">
   <script type="text/javascript">
   var sogou_ad_id=365201;
   var sogou_ad_height=600;
   var sogou_ad_width=120;
   </script>
   <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
  </div>